<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
            <li>
                <a href="/">
                    Home
                </a>
            </li>
            <li>
                <a href="/news">
                    News
                </a>
            </li>
            <li>
                <a href="/register">
                    Signup
                </a>
            </li>
            <li>
                <a href="/login">
                    Login
                </a>
            </li>
            <li>
                <a href="/logout">
                    Logout
                </a>
            </li>
    </ul>
</div>