<% layout('layouts/main') -%>

    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <%- include('./partials/nav.ejs') -%>
        </nav>

        <div id="page-wrapper">
            <div class="container-fluid">
                <h5>
                    You need to Log In or Sign Up to add news
                </h5>
            </div>
        </div>


    </div>